.contaazul__btn {
  height: 40px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  padding: 0 35px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  font: normal 14px/14px $primaryFont;
  &:active {
    box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, .1) inset;
  }
}