.contaazul__modal {
  &, &__curtain {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  position: fixed;
  justify-content: center;
  z-index: 2;
  display: flex;
  visibility: hidden;
  transition: visibility .5s ease;
  @include mq(medium) {
    align-items: center;
  }
  &__curtain {
    background-color: #000;
    opacity: 0;
    transition: opacity .3s ease;
    position: fixed;
  }
  &__box {
    max-width: 600px;
    width: 85%;
    height: auto;
    transform: scale(.4);
    transition: all .5s ease;
    z-index: 3;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 2px rgba(255, 255, 255, .1);
    background-color: #fff;
    visibility: hidden;
    position: absolute;
    left: 7.5%;
    top: 0;
    margin-top: 30px;
    @include mq(medium) {
      position: static;
      top: auto;
    }
    &__close {
      width: 32px;
      height: 32px;
      cursor: pointer;
      background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAilBMVEUAAAAkbW00Yn4yYX40YH4zYX0zYX0zZnozYH0zYX1AYIAyYX4zYX01YIAzYX0zYH0zYX0zYX1liJ25ydNtjqLR2+H////8/f1sjaGZsL719/hXfZQ1Y3/F0tro7fBHcIo9aYTa4ujX4OY8aINKc4zr8PLBz9dcgZf3+fpykqX9/v5niZ69zNUAAACdSWTLAAAAEXRSTlMAB0mYwdrzGZfyCIT1GMgt498NJSsAAAABYktHRACIBR1IAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4QoBBAwZLBdSUwAAAPFJREFUOMuFU1kWgjAQK6ssilQ0AgIqroj3P58obakKb/LVlyklycwwpmCYlu24rmNbpsH+MfN8ruB7s59yEM75F+ZhoNcXEf9DtBjqy5iPIF6q70fr3Q3xRhDxCUS9jpBPIvz4E/pXyVry62QlvLzdeoLdYJv2p3SLjSC9Lj+ZTwbku/dhlwOZTMxgpny3KIFqz/m+AspCsiazlKLDEahPpxo4HhRpMXvQfL4A1ytwOQ+czRzN1e2ODvebRjnM1X03D+DR6IxLXyB/QYokbZJBkVGTzVLtbp9Du5+t1m5yYOiRI4eWHnt6cejVo5d3ev1fQck69VIaC9YAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMTAtMDFUMDQ6MTI6MjUrMDI6MDBreU5iAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTEwLTAxVDA0OjEyOjI1KzAyOjAwGiT23gAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') no-repeat center center;
      background-size: 32px;
      position: absolute;
      outline: 0;
      border: 0;
      top: -16px;
      right: -16px;
      &:focus {
        outline: 0;
        border: 0;
      }
    }
  }
  &--opened {
    visibility: visible;
    .contaazul__modal {
      &__curtain {
        opacity: .7;
      }
      &__box {
        transform: scale(1);
        visibility: visible;
      }
    }
  }
}