<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Desafio ContaAzul</title>
</head>

<body>
  <div class="contaazul">
      <%- include('components/modal'); %>
    <header class="contaazul__header">
      <div class="contaazul__header__container contaazul__container">
        <h1 class="contaazul__logo">
          <a class="contaazul__logo__link" href="/"><img src="/imgs/contaazul-logo.png" alt="Logo ContaAzul"></a>
        </h1>
      </div>
    </header>
    <section class="contaazul__content">
      <div class="contaazul__content__container contaazul__container">
        <div class="contaazul__row">
          <div class="contaazul__actions">
            <button class="contaazul__btn contaazul__success" type="button">Novo carro</button>
            <button class="contaazul__btn contaazul__danger" type="button">Excluir carro</button>
          </div>
  
          <%- include('components/search'); %>
        </div>
        <div class="contaazul__row">
            <%- include('components/table'); %>
        </div>
        <div class="contaazul__row contaazul__pagination-container">
          <%- include('components/pagination'); %>
        </div>
      </div>
    </section>
  </div>
</body>

</html>