.contaazul {
  &__container {
    max-width: $maxWidth;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__row {
    height: auto;
    overflow: hidden;
  }

  &__success {
    background-color: $successColor;
    &:hover {
      background-color: $successHoverColor;
    }
  }

  &__danger {
    background-color: $dangerColor;
    &:hover {
      background-color: $dangetHoverColor;
    }
  }

  &__align-right {
    text-align: right;
  }

  &__textfield {
    height: 40px;
    background-color: #fff;
    border: 1px solid #C7D3DC;
    border-radius: 3px;
    box-sizing: border-box;
    align-items: center;
    color: $borderColor;
    padding: 0 15px;
    font-family: $secondFont;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #aaa;
    &--sm {
      @extend .contaazul__textfield;
      height: 25px;
      padding: 0 5px;
      font-size: 12px;
      color: #000;
    }
  }
  
  &__form {
    color: $textPrimaryColor;
    -webkit-font-smoothing: antialiased;

    .contaazul__row {
      margin-top: 5px;
    }

    .contaazul__btn--sm {
      margin-top: 5px;
    }

    &__title {
      font: bold 16px/18px $primaryFont;
    }

    label {
      font: normal 12px/14px $secondFont;
      display: block;
    }

    &__textfield {
      width: 100%;
      margin-top: 2px;
    }
  }
}