$highlightedBgColor: #D4EAFA;
$highlightedBorderColor: #94D4F5;

$hoverBgColor: #FFFAEC;

$brandColor: rgb(0, 139, 228);

$successColor: #11bb62;
$successHoverColor: #17C769;
$dangerColor: #c0424a;
$dangetHoverColor: #D1505B;

$textPrimaryColor: #33617D;

$maxWidth: 960px;

$primaryFont: tahoma, verdana;
$secondFont: arial;

$borderColor: #C7D3DC;

$breakpoints: (
  small: 0,
  medium: 620px,
);