$highlightedBgColor: #D4EAFA;
$highlightedBorderColor: #94D4F5;

$hoverBgColor: #FFFAEC;

$brandColor: rgb(0, 139, 228);

$successColor: #11bb62;
$dangerColor: #c0424a;

$textPrimaryColor: #33617D;

$maxWidth: 960px;

$primaryFont: tahoma, verdana;
$secondFont: arial;