.contaazul {
  &__content {
    background-color: #F0F4F9;
    padding: 20px 0;
  }

  &__header {
    background-color: $brandColor;
    &__container {
      height: 50px;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    &__link {
      height: auto;
      align-items: center;
    }

    img {
      max-width: 120px;
      height: auto;
    }
  }

  &__actions {
    display: flex;
    @include mq(medium) {
      float: left;
    }
  }

  &__btn {
    width: 49%;
    margin-right: 2%;
    float: left;

    &:nth-child(2) {
      margin-right: 0;
    }

    @include mq(medium) {
      width: auto;
      margin-right: 25px;
    }
  }

  &__search {
    padding: 20px 0;
    @include mq(medium) {
      padding: 0;
      float: right;
    }
  }

  &__table {
    .contaazul__align-right {
      padding-right: 40px;
    }
  }
}