.contaazul {
  &__container {
    max-width: $maxWidth;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__row {
    height: auto;
    overflow: hidden;
  }

  &__success {
    background-color: $successColor;
  }

  &__danger {
    background-color: $dangerColor;
  }

  &__content {
    background-color: #F0F4F9;
  }

  &__header {
    background-color: $brandColor;
    &__container {
      height: 50px;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    &__link {
      height: auto;
      display: flex;
      align-items: center;
    }

    img {
      max-width: 120px;
      height: auto;
    }
  }

  &__content {
    padding: 20px 0;
  }

  @include mq(medium) {
    &__actions {
      float: left;
    }
  }

  &__actions {
    display: flex;
    @include mq(medium) {
      float: left;
    }
  }

  &__btn {
    width: 49%;
    margin-right: 2%;
    float: left;

    &:nth-child(2) {
      margin-right: 0;
    }

    @include mq(medium) {
      width: auto;
    }
  }

  &__search {
    padding: 20px 0;
    @include mq(medium) {
      padding: 0;
      float: right;
    }
  }
}