<div class="contaazul__modal">
  <div class="contaazul__modal__curtain"></div>
  <div class="contaazul__modal__box">
    <button class="contaazul__modal__box__close" type="button"></button>
    <form class="contaazul__form" action="#" method="post">
      <h3 class="contaazul__form__title">Novo carro</h3>
      <hr>
      <div class="contaazul__row">
        <label for="placa">Placa:</label>
        <input id="placa" class="contaazul__textfield--sm contaazul__form__textfield" type="text" name="placa" required />
      </div>
      <div class="contaazul__row">
        <label for="modelo">Modelo:</label>
        <input id="modelo" class="contaazul__textfield--sm contaazul__form__textfield" type="text" name="modelo" required />
      </div>
      <div class="contaazul__row">
        <label for="marca">Marca:</label>
        <input id="marca" class="contaazul__textfield--sm contaazul__form__textfield" type="text" name="marca" required />
      </div>
      <div class="contaazul__row">
        <label for="foto">Foto:</label>
        <input id="foto" class="contaazul__textfield--sm contaazul__form__textfield" type="text" name="foto" />
      </div>
      <div class="contaazul__row">
        <label for="combustivel">Combustível:</label>
        <input id="combustivel" class="contaazul__textfield--sm contaazul__form__textfield" type="text" name="combustivel" />
      </div>
      <div class="contaazul__row">
        <label for="valor">Valor:</label>
        <input id="valor" class="contaazul__textfield--sm contaazul__form__textfield" type="text" name="valor" />
      </div>
      <div class="contaazul__row">
        <button class="contaazul__btn--sm contaazul__success" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>