<ul class="contaazul__pagination">
  <li class="contaazul__pagination__item"><a class="contaazul__pagination__item__link" href="#" title="">&laquo;</a></li>
  <li class="contaazul__pagination__item contaazul__pagination__item--active"><a class="contaazul__pagination__item__link" href="#1" title="">1</a></li>
  <li class="contaazul__pagination__item"><a class="contaazul__pagination__item__link" href="#2" title="">2</a></li>
  <li class="contaazul__pagination__item"><a class="contaazul__pagination__item__link" href="#3" title="">3</a></li>
  <li class="contaazul__pagination__item"><a class="contaazul__pagination__item__link" href="#" title="">4</a></li>
  <li class="contaazul__pagination__item"><a class="contaazul__pagination__item__link" href="#" title="">&raquo;</a></li>
</ul>