<div class="contaazul__search">
  <form class="contaazul__search__form" method="post" action="#">
    <input class="contaazul__textfield contaazul__search__textfield" type="text" placeholder="Marca ou combustível">
    <button class="contaazul__search__btn-submit" type="submit"></button>
  </form>
</div>