<table class="contaazul__table">
  <thead class="contaazul__table__header">
    <tr>
      <th><input class="contaazul__checkbox" type="checkbox" name="car_plate_all" /></th>
      <th>Placa</th>
      <th>Modelo</th>
      <th class="contaazul__hide-for-mobile">Marca</th>
      <th class="contaazul__hide-for-mobile">Foto</th>
      <th class="contaazul__hide-for-mobile">Combustível</th>
      <th class="contaazul__align-right">Valor</th>
    </tr>
  </thead>
  <tbody class="contaazul__table__body">
    <tr class="contaazul__table__item">
      <td><input class="contaazul__checkbox" type="checkbox" name="car_plate[]" /></td>
      <td>AAA0001</td>
      <td>Gol</td>
      <td class="contaazul__hide-for-mobile">Wolksvagem</td>
      <td class="contaazul__hide-for-mobile">Sem foto</td>
      <td class="contaazul__hide-for-mobile">Gasolina</td>
      <td class="contaazul__align-right">20.000,00</td>
    </tr>
    <tr class="contaazul__table__item">
        <td><input class="contaazul__checkbox" type="checkbox" name="car_plate[]" /></td>
        <td>AAA0001</td>
        <td>Gol</td>
        <td class="contaazul__hide-for-mobile">Wolksvagem</td>
        <td class="contaazul__hide-for-mobile">Sem foto</td>
        <td class="contaazul__hide-for-mobile">Gasolina</td>
        <td class="contaazul__align-right">20.000,00</td>
      </tr>
      <tr class="contaazul__table__item contaazul__table__item--active">
          <td><input class="contaazul__checkbox" type="checkbox" name="car_plate[]" /></td>
          <td>AAA0001</td>
          <td>Gol</td>
          <td class="contaazul__hide-for-mobile">Wolksvagem</td>
          <td class="contaazul__hide-for-mobile">Sem foto</td>
          <td class="contaazul__hide-for-mobile">Gasolina</td>
          <td class="contaazul__align-right">20.000,00</td>
        </tr>
  </tbody>
</table>