<table class="contaazul__table">
  <thead class="contaazul__table__header">
    <tr>
      <th><input class="contaazul__checkbox" type="checkbox" name="car_plate_all" /></th>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Foto</th>
      <th>Combustível</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody class="contaazul__table__body">
    <tr class="contaazul__table__item contaazul__table__item--active">
      <td><input class="contaazul__checkbox" type="checkbox" name="car_plate[]" /></td>
      <td>AAA0001</td>
      <td>Gol</td>
      <td>Wolksvagem</td>
      <td>Sem foto</td>
      <td>Gasolina</td>
      <td>20.000,00</td>
    </tr>
  </tbody>
</table>